<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Tus productos</h1>
        <div>
          <h3>Cuentas</h3>
          <!-- ko foreach : accounts -->
            <li>
              <ul>
                <a data-bind="html : $data"></a>
              </ul>              
            </li>
          <!-- /ko -->
          <div>
            <a href="#" data-bind="click : createAccount">Crear cuenta</a>
            <div>
              <!-- ko with : newAccount -->
                <input type="text" readonly data-bind="value : iban" size="4">
                <input type="text" readonly data-bind="value : bank" size="4">
                <input type="text" readonly data-bind="value : office" size="4">
                <input type="text" readonly data-bind="value : control" size="2">
                <input type="text" readonly data-bind="value : number" size="10">
              <!-- /ko-->
            </div>
          </div>
          <span data-bind="html : error" style="color : red"></span>
        </div>
      </div>
    </div>
  </div>
</div>